<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style-work.css">
    <title>Code Evolytion || learn new things</title>



</head>

<body>

    <div class="container-fluid bg-img">
        <!-- <div class="container"> -->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand text-light" href="#">Code <span>Evolution</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-light">
                    <li class="nav-item active ">
                        <a class="nav-link text-light" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/registration">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="login">Login</a>
                    </li>
            </div>
        </nav>
        <!-- </div> -->
        <div class="hero mt-5 pt-5 text-center ">
            <div class="hero-title">
                <h1>Work with <span>Us</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicingipsum dolor sit amet consectetur adipisicing elit. Ea iusto, adipisci at et dolorem debitis.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>

    <div class="container card-box">
        <div class="card text-center">
            <div class="card-header">
                Find Work
            </div>
            <div class="card-body">
                <h5 class="card-title">Earn money easily here</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional With supporting text below as a natural content.</p>
                <a href="#" class="btn btn-primary">Get Work</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="container sub-card mt-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Earn money</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Do work</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Web Developer</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Create website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container-fluid footer">
            <h3>Code <span>Evolution</span></h3>
            <p>All rights reserved.@123</p>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>